* {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  box-sizing: border-box;
  transition: 150ms;
}

body {
  height: 100vh;
  background: #000 linear-gradient(320deg, #000 20%, #fff 80%) no-repeat center center / cover;
}

#root {
  position: relative;
  padding: 5% 10%;
  margin: 10vh auto;
  width: 80vw;
  height: 80vh;
  background: #ccc url('paper_grid.png') no-repeat center center / cover;
  border-radius: 50px;
  border: 1px solid #aaa;
  box-shadow: 4px 4px 2px #fff, -4px -4px 2px #000;
}

.startWord, .translateWord, .count {
  border: 3px solid #00f;
  border-radius: 20px;
  background-color: #fff;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 3%;
}

.startWord {
  background-color: #afa;
  letter-spacing: 3px;
  font-size: 35px;
}

.translateWord {
  margin-top: 3%;
  padding: 0;
  height: 25%;
  position: relative;
}

.translateWord:focus {
  outline: none;
}

.input-field, .check-button {
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  height: 100%;
  position: absolute;
}

.input-field {
  left: 0;
  height: 100%;
  width: 70%;
  border: 1px solid black;
  outline: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.check-button {
  right: 0;
  width: 30%;
  border: none;
  border-left: 5px solid #000;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: rgba(0, 0, 255, 0.4);
  padding: 0 20px;
}

.check-button:hover {
  background-color: rgba(0, 0, 255, 0.6);
  color: rgba(255, 255, 0, 0.7);
}

.check-button:active {
  background-color: rgba(0, 0, 255, 0.8);
  color: #ff0;
}

.count {
  margin: 3% auto 0;
  width: 30%;
  background-color: #aaf;
}

#true {
  background-color: #cfc;
  border: 5px solid #0f0;
}

#false {
  background-color: #fcc;
  border: 5px solid #f00;
}

.status {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.lvl-1, .lvl-2, .lvl-3 {
  border-bottom: 3px solid #d00;
  color: #a00;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  padding: 0 15px;
  line-height: 1;
}

.lvl-1, .lvl-2 {
  margin-bottom: 10px;
}

.new-word-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255,255,255,0.5);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 0 4px 4px #555, 0 0 4px 3px #f00;
}
.new-word-button:hover {
  transform: rotateZ(45deg);
}
.new-word-button:active {
  transform: scale(1.1);
  background-color: rgba(0, 0, 255, 0.5);
}

#v-line, #h-line {
  border: 2px solid #f44;
  position: absolute;
}

#v-line {
  height: 40px;
  width: 0;
  top: 3px;
  left: 21px;
}

#h-line {
  height: 0;
  width: 40px;
  top: 21px;
  left: 3px;
}

.new-word-form {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.new-word-field, .new-translation-field, .new-word-add {
  border: 4px solid #00f;
  border-radius: 20px;
  outline: none;
  text-align: center;
  height: 20%;
  width: 80%;
  padding: 0 20px;
  position: absolute;
  left: 10%;
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 2px;
}

.new-word-field {
  top: 10%;
}

.new-translation-field {
  top: 40%;
}

.new-word-add {
  border: 4px solid #005;
  bottom: 10%;
  width: 40%;
  left: 30%;
  color: #0e0;
  background: #00f;
}

.hide-element {
  display: none;
}
